name: Deploy to EKS

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y php
          composer install --prefer-dist --no-interaction

      - name: Build Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: my-laravel-app:latest

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: <region>

      - name: Login to ECR
        id: login-ecr
        run: |
          AWS_ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          REGISTRY_URL=${AWS_ACCOUNT_ID}.dkr.ecr.<${AWS_REGION}>.amazonaws.com
          AWS_ECR_PASSWORD=$(aws ecr get-login-password --region <${AWS_REGION}>)
          echo $AWS_ECR_PASSWORD | docker login --username AWS --password-stdin $REGISTRY_URL

      - name: Install kubectl
        uses: dawidd6/action-install-kubectl@v1
        with:
          version: 1.22.0

      - name: Set up kubectl
        env:
          KUBECONFIG: ${{ secrets.KUBECONFIG }}
        run: |
          mkdir -p ~/.kube
          echo "$KUBECONFIG" | base64 --decode > ~/.kube/config

      - name: Deploy to EKS
        run: |
          kubectl apply -f kubernetes/deployment.yaml
          kubectl apply -f kubernetes/service.yaml
